.main {
  width: 1500px;
  height: 450px;

  overflow: auto;

  background: #e9e8f3;

  border: 1px solid #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.boxes {
  display: inline-block;
  max-width: 255px;
  margin: 5px 5px;
  padding: 20px;

  background: #bea886;
  
  box-shadow: inset 0px 0px 10px 0px #000;
  border-radius: 20px;
}